/.vscode
/bin
obj/project.assets.json
obj/project.nuget.cache
obj/PropertiesListGenerator.csproj.nuget.dgspec.json
obj/PropertiesListGenerator.csproj.nuget.g.props
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/PropertiesListGenerator.assets.cache
obj/Debug/net5.0/PropertiesListGenerator.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/PropertiesListGenerator.csproj.FileListAbsolute.txt
obj/Debug/net5.0/PropertiesListGenerator.csprojAssemblyReference.cache
obj/Debug/net5.0/PropertiesListGenerator.dll
obj/Debug/net5.0/PropertiesListGenerator.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/PropertiesListGenerator.pdb
obj/Debug/net5.0/ref/PropertiesListGenerator.dll
obj/Debug/net5.0-windows10.0.1773.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0-windows10.0.1773.0/PropertiesListGenerator.AssemblyInfo.cs
obj/Debug/net5.0-windows10.0.1773.0/PropertiesListGenerator.AssemblyInfoInputs.cache
obj/Debug/net5.0-windows10.0.1773.0/PropertiesListGenerator.assets.cache
obj/Debug/net5.0-windows10.0.1773.0/PropertiesListGenerator.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0-windows10.0.17763.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0-windows10.0.17763.0/apphost.exe
obj/Debug/net5.0-windows10.0.17763.0/PropertiesListGenerator.AssemblyInfo.cs
obj/Debug/net5.0-windows10.0.17763.0/PropertiesListGenerator.AssemblyInfoInputs.cache
obj/Debug/net5.0-windows10.0.17763.0/PropertiesListGenerator.assets.cache
obj/Debug/net5.0-windows10.0.17763.0/PropertiesListGenerator.csproj.CopyComplete
obj/Debug/net5.0-windows10.0.17763.0/PropertiesListGenerator.csproj.CoreCompileInputs.cache
obj/Debug/net5.0-windows10.0.17763.0/PropertiesListGenerator.csproj.FileListAbsolute.txt
obj/Debug/net5.0-windows10.0.17763.0/PropertiesListGenerator.csprojAssemblyReference.cache
obj/Debug/net5.0-windows10.0.17763.0/PropertiesListGenerator.dll
obj/Debug/net5.0-windows10.0.17763.0/PropertiesListGenerator.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0-windows10.0.17763.0/PropertiesListGenerator.genruntimeconfig.cache
obj/Debug/net5.0-windows10.0.17763.0/PropertiesListGenerator.pdb
obj/Debug/net5.0-windows10.0.17763.0/ref/PropertiesListGenerator.dll
obj/Debug/net5.0-windows10.0.19041.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0-windows10.0.19041.0/apphost.exe
obj/Debug/net5.0-windows10.0.19041.0/PropertiesListGenerator.AssemblyInfo.cs
obj/Debug/net5.0-windows10.0.19041.0/PropertiesListGenerator.AssemblyInfoInputs.cache
obj/Debug/net5.0-windows10.0.19041.0/PropertiesListGenerator.assets.cache
obj/Debug/net5.0-windows10.0.19041.0/PropertiesListGenerator.csproj.CopyComplete
obj/Debug/net5.0-windows10.0.19041.0/PropertiesListGenerator.csproj.CoreCompileInputs.cache
obj/Debug/net5.0-windows10.0.19041.0/PropertiesListGenerator.csproj.FileListAbsolute.txt
obj/Debug/net5.0-windows10.0.19041.0/PropertiesListGenerator.csprojAssemblyReference.cache
obj/Debug/net5.0-windows10.0.19041.0/PropertiesListGenerator.dll
obj/Debug/net5.0-windows10.0.19041.0/PropertiesListGenerator.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0-windows10.0.19041.0/PropertiesListGenerator.genruntimeconfig.cache
obj/Debug/net5.0-windows10.0.19041.0/PropertiesListGenerator.pdb
obj/Debug/net5.0-windows10.0.19041.0/ref/PropertiesListGenerator.dll
obj/Debug/net5.0-windows10.0.20257.1/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0-windows10.0.20257.1/PropertiesListGenerator.AssemblyInfo.cs
obj/Debug/net5.0-windows10.0.20257.1/PropertiesListGenerator.AssemblyInfoInputs.cache
obj/Debug/net5.0-windows10.0.20257.1/PropertiesListGenerator.assets.cache
obj/Debug/net5.0-windows10.0.20257.1/PropertiesListGenerator.GeneratedMSBuildEditorConfig.editorconfig
